In [2]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [3]:
suicide = pd.read_csv("suicide.csv")

In [8]:
pd.set_option("display.max_rows",100)
pd.set_option("display.max_columns",100)

In [15]:
print("The columns in the dataset are: ",suicide.columns)
print("\n\n The datatype of the columns are", suicide.dtypes)
print("\n\n Shape of the dataset is ",suicide.shape)

The columns in the dataset are:  Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides/100k pop', 'country-year', 'HDI for year',
       ' gdp_for_year ($) ', 'gdp_per_capita ($)', 'generation'],
      dtype='object')


 The datatype of the columns are country                object
year                    int64
sex                    object
age                    object
suicides_no             int64
population              int64
suicides/100k pop     float64
country-year           object
HDI for year          float64
 gdp_for_year ($)      object
gdp_per_capita ($)      int64
generation             object
dtype: object


 Shape of the dataset is  (27820, 12)

In [16]:
suicide.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [18]:
suicide.age.value_counts()

55-74 years    4642
25-34 years    4642
35-54 years    4642
75+ years      4642
15-24 years    4642
5-14 years     4610
Name: age, dtype: int64